* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
  	padding-top: 70px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -340px;
}

.page-header {
	margin: 0px;
	margin-bottom: 10px!important;
}

.page-header h1 {
	margin-top: 0px;
}

.navbar {
	margin-bottom: 20px;
}

.btn-right {
	position: relative;
	bottom: 5px;
}

.btn-full {
	width: 100%;
}

.pagination {
	margin: 0px 0px 15px 0px!important;
}

.required input {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.breadcrumb {
	margin-bottom: 10px!important;
}

#footer {
	height: 320px;
	background-color: #eee!important;
}

.push {
	height: 320px;
}

.bulletless {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.bulletless li {
	margin: 3px 0;
	padding: 3px 0;
}