* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  padding-top: 70px;
}

.navbar {
  margin-bottom: 20px;
}

#footer {
	position: relative;
	display: block;
	background-color: #eee!important;
}

.bulletless {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.bulletless li {
	margin: 3px 0;
	padding: 3px 0;
}