* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
  	padding-top: 70px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -320px;
}

.navbar {
	margin-bottom: 20px;
}

.btn-right {
	position: relative;
	bottom: 5px;
}

#footer {
	height: 320px;
	background-color: #eee!important;
}

.push {
	height: 320px;
}

.bulletless {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.bulletless li {
	margin: 3px 0;
	padding: 3px 0;
}